/***********font size classes*********************/
.font-xxxlarge {
  font-size: 48px; }

.font-xxlarge {
  font-size: 42px; }

.font-xlarge {
  font-size: 36px; }

.font-large {
  font-size: 24px; }

.font-medium {
  font-size: 18px; }

.font-small {
  font-size: 16px; }

.font-xsmall {
  font-size: 14px; }

/*# sourceMappingURL=font-size.css.map */
