@charset "UTF-8";
/* Standardise the font-family names, add appropriate values for 
weights and styles */
/* In variables partial */
.f-f-Gotham-M {
  font-family: "GothamRounded-Medium"; }

.f-f-Gotham-B {
  font-family: "GothamRounded-Book"; }

.f-f-Gotham-L {
  font-family: "GothamRounded-Light"; }

/* In type partial */
@font-face {
  font-family: 'GothamRounded-Medium';
  src: url("../fonts/GothamRounded-Medium/GothamRounded-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Medium/GothamRounded-Medium.otf") format("opentype"), url("../fonts/GothamRounded-Medium/GothamRounded-Medium.woff") format("woff"), url("../fonts/GothamRounded-Medium/GothamRounded-Medium.ttf") format("truetype"), url("../fonts/GothamRounded-Medium/GothamRounded-Medium.svg#GothamRounded-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamRounded-Book';
  src: url("../fonts/GothamRounded-Book/GothamRounded-Book.otf") format("opentype"), url("../fonts/GothamRounded-Book/GothamRounded-Book.woff") format("woff"), url("../fonts/GothamRounded-Book/GothamRounded-Book.ttf") format("truetype"), url("../fonts/GothamRounded-Book/GothamRounded-Book.svg#GothamRounded-Book") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'GothamRounded-Light';
  src: url("../fonts/GothamRounded-Light/GothamRounded-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamRounded-Light/GothamRounded-Light.otf") format("opentype"), url("../fonts/GothamRounded-Light/GothamRounded-Light.woff") format("woff"), url("../fonts/GothamRounded-Light/GothamRounded-Light.ttf") format("truetype"), url("../fonts/GothamRounded-Light/GothamRounded-Light.svg#GothamRounded-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, thead, tbody, tfoot, tr, th, td,
article, aside, canvas, details, figure, figcaption, main, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  display: block; }

* {
  box-sizing: border-box;
  font-family: "GothamRounded-Book"; }

a:hover {
  color: #337ab7;
  text-decoration: none; }
a:focus {
  color: #337ab7;
  text-decoration: none;
  outline-offset: -2px; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav,
section, summary {
  display: block; }

/*Float*/
.Pull-left {
  float: left; }

.pull-right {
  flot: right; }

/*font-weight*/
/*Alignment */
.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center, .color-box {
  text-align: center; }

.blue {
  background-color: #21409a; }

.magenta {
  background-color: #ed207a; }

.dark-blue {
  background-color: #192033; }

.dark-grey {
  background-color: #737680; }

.light-grey {
  background-color: #c2c4cc; }

.lighter-grey {
  background-color: #eaecf0; }

.facebook-color {
  background-color: #3b5998; }

.twitter-color {
  background-color: #00aced; }

.instagram-color {
  background-color: #C32AA3; }

.pinterest-color {
  background-color: #BD081C; }

.linkedin-color {
  background-color: #007bb6; }

.youtube-color {
  background-color: #FF0000; }

.google-plus-color {
  background-color: #DB4437; }

.snapchat-color {
  background-color: #FFFC00; }

.whatsapp-color {
  background-color: #25D366; }

.skype-color {
  background-color: #00AFF0; }

.yahoo-color {
  background-color: #430297; }

.group_color {
  background-color: #415464; }

.managers_color {
  background-color: #FF8400; }

.supplier_color {
  background-color: #8B8D4A; }

.client_color {
  background-color: #76236D; }

.resource_color {
  background-color: #A8353A; }

.delegates_color {
  background-color: #00609C; }

.white_color {
  background-color: #ffffff; }

.grey_color {
  background-color: #777777; }

.error {
  background-color: #c91810; }

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px; }

/*=======BTN DEFAULT==========*/
.btn-default {
  color: #ed207a;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #ed207a; }

/*=======BTN primary==========*/
.btn-primary {
  color: #fff;
  background-color: #ed207a;
  border-radius: 50px;
  border: 1px solid #ed207a; }

.btn-primary:focus {
  color: #ed207a;
  background-color: transparent;
  border: 1px solid #ed207a; }
.btn-primary:hover {
  color: #ed207a;
  background-color: transparent;
  border: 1px solid #ed207a; }

/*=======BTN Success==========*/
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #ccc;
  border-radius: 50px; }

.btn-success:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #8c8c8c; }
.btn-success:hover {
  color: #fff;
  background-color: #449d44; }

/*=======BTN Warning==========*/
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #ccc;
  border-radius: 50px; }

.btn-warning:focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #8c8c8c; }
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f; }

/*=======BTN Danger==========*/
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #ccc;
  border-radius: 50px; }

.btn-danger:focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #8c8c8c; }
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c; }

.blue {
  background-color: #21409a; }

.magenta {
  background-color: #ed207a; }

.dark-blue {
  background-color: #192033; }

.dark-grey {
  background-color: #737680; }

.light-grey {
  background-color: #c2c4cc; }

.lighter-grey {
  background-color: #eaecf0; }

.facebook-color {
  background-color: #3b5998; }

.twitter-color {
  background-color: #00aced; }

.instagram-color {
  background-color: #C32AA3; }

.pinterest-color {
  background-color: #BD081C; }

.linkedin-color {
  background-color: #007bb6; }

.youtube-color {
  background-color: #FF0000; }

.google-plus-color {
  background-color: #DB4437; }

.snapchat-color {
  background-color: #FFFC00; }

.whatsapp-color {
  background-color: #25D366; }

.skype-color {
  background-color: #00AFF0; }

.yahoo-color {
  background-color: #430297; }

.group_color {
  background-color: #415464; }

.managers_color {
  background-color: #FF8400; }

.supplier_color {
  background-color: #8B8D4A; }

.client_color {
  background-color: #76236D; }

.resource_color {
  background-color: #A8353A; }

.delegates_color {
  background-color: #00609C; }

.white_color {
  background-color: #ffffff; }

.grey_color {
  background-color: #777777; }

.error {
  background-color: #c91810; }

/***********font size classes*********************/
.font-xxxlarge {
  font-size: 48px; }

.font-xxlarge {
  font-size: 42px; }

.font-xlarge {
  font-size: 36px; }

.font-large {
  font-size: 24px; }

.font-medium, .modal-header {
  font-size: 18px; }

.font-small, .inputFileWrapper .fileName, .uploadedName {
  font-size: 16px; }

.font-xsmall {
  font-size: 14px; }

.mt5, .raw-classes p {
  margin-top: 5px; }

.mt10, .color-box {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mt35 {
  margin-top: 35px; }

.mt40 {
  margin-top: 40px; }

.mt45 {
  margin-top: 45px; }

.mt50 {
  margin-top: 50px; }

.mb5, .raw-classes p {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb25 {
  margin-bottom: 25px; }

.mb30 {
  margin-bottom: 30px; }

.mb35 {
  margin-bottom: 35px; }

.mb40 {
  margin-bottom: 40px; }

.mb45 {
  margin-bottom: 45px; }

.mb50 {
  margin-bottom: 50px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15, .btn {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr25 {
  margin-right: 25px; }

.mr30 {
  margin-right: 30px; }

.mr35 {
  margin-right: 35px; }

.mr40 {
  margin-right: 40px; }

.mr45 {
  margin-right: 45px; }

.mr50 {
  margin-right: 50px; }

.ml5, .inputFileWrapper .fileName span {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml25 {
  margin-left: 25px; }

.ml30 {
  margin-left: 30px; }

.ml35 {
  margin-left: 35px; }

.ml40 {
  margin-left: 40px; }

.ml45 {
  margin-left: 45px; }

.ml50 {
  margin-left: 50px; }

.m-0-auto, .display-center {
  margin: 0px auto; }

.pt5, .color-box, .padding-classes h3, .raw-classes h3 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt25 {
  padding-top: 25px; }

.pt30 {
  padding-top: 30px; }

.pt35 {
  padding-top: 35px; }

.pt40 {
  padding-top: 40px; }

.pt45 {
  padding-top: 45px; }

.pt50 {
  padding-top: 50px; }

.pb5, .color-box, .padding-classes h3, .raw-classes h3 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pb25 {
  padding-bottom: 25px; }

.pb30 {
  padding-bottom: 30px; }

.pb35 {
  padding-bottom: 35px; }

.pb40 {
  padding-bottom: 40px; }

.pb45 {
  padding-bottom: 45px; }

.pb50 {
  padding-bottom: 50px; }

.pl5, .color-box, .padding-classes h3, .raw-classes h3 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.pl25 {
  padding-left: 25px; }

.pl30 {
  padding-left: 30px; }

.pl35 {
  padding-left: 35px; }

.pl40 {
  padding-left: 40px; }

.pl45 {
  padding-left: 45px; }

.pl50 {
  padding-left: 50px; }

.pr5, .color-box, .padding-classes h3, .raw-classes h3 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pr25 {
  padding-right: 25px; }

.pr30 {
  padding-right: 30px; }

.pr35 {
  padding-right: 35px; }

.pr40 {
  padding-right: 40px; }

.pr45 {
  padding-right: 45px; }

.pr50 {
  padding-right: 50px; }

.pad35, .modal-header, .modal-body-content, .modal-footer {
  padding: 35px; }

.pull-left, .color-box {
  float: left; }

.pull-right {
  float: right; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center, .color-box {
  text-align: center; }

.display-center {
  display: table; }

.flex-center {
  display: flex;
  flex-direction: column; }

.block-center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  display: inline-block;
  vertical-align: text-bottom;
  box-sizing: border-box; }

[class^="col-fluid"] {
  width: 100%;
  box-sizing: border-box; }

.container {
  max-width: 100%;
  width: 100%;
  margin: 0px auto;
  display: table; }
  @media (min-width: 767px) and (max-width: 991px) {
    .container {
      max-width: 100%;
      padding: 0; } }
  @media (min-width: 992px) {
    .container {
      max-width: 100%;
      width: 100%; } }

.column {
  margin: 0 0px;
  overflow: hidden;
  float: left;
  display: inline; }

.container .row {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  display: inline-block;
  float: left;
  box-sizing: border-box; }

.row + .row {
  margin-top: 7px; }

.row-fluid-15 {
  width: 100%;
  *zoom: 1; }

.row-fluid-15:before, .row-fluid-15:after {
  display: table;
  content: "";
  line-height: 0; }

.row-fluid-15:after {
  clear: both; }

.col-15, .col-14, .col-13, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-1, .col-2 {
  width: 100%;
  margin: 0; }

@media only screen and (min-width: 640px) {
  .container .row {
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
    display: inline-block; } }
@media screen and (min-width: 992px) {
  .col-1 {
    width: 90px;
    float: left;
    margin-left: 0px; }

  .col-2 {
    width: 180px;
    float: left;
    margin-left: 0px; }

  .col-3 {
    width: 270px;
    float: left;
    margin-left: 0px; }

  .col-4 {
    width: 360px;
    float: left;
    margin-left: 0px; }

  .col-5 {
    width: 450px;
    float: left;
    margin-left: 0px; }

  .col-6 {
    width: 540px;
    float: left;
    margin-left: 0px; }

  .col-7 {
    width: 630px;
    float: left;
    margin-left: 0px; }

  .col-8 {
    width: 720px;
    float: left;
    margin-left: 0px; }

  .col-9 {
    width: 810px;
    float: left;
    margin-left: 0px; }

  .col-10 {
    width: 900px;
    float: left;
    margin-left: 0px; }

  .col-11 {
    width: 990px;
    float: left;
    margin-left: 0px; }

  .col-12 {
    width: 1080px;
    float: left;
    margin-left: 0px; }

  .col-fluid-1 {
    width: 8.3333333333%;
    float: left; }

  .col-fluid-2 {
    width: 16.6666666667%;
    float: left; }

  .col-fluid-3 {
    width: 25%;
    float: left; }

  .col-fluid-4 {
    width: 33.3333333333%;
    float: left; }

  .col-fluid-5 {
    width: 41.6666666667%;
    float: left; }

  .col-fluid-6 {
    width: 50%;
    float: left; }

  .col-fluid-7 {
    width: 58.3333333333%;
    float: left; }

  .col-fluid-8 {
    width: 66.6666666667%;
    float: left; }

  .col-fluid-9 {
    width: 75%;
    float: left; }

  .col-fluid-10 {
    width: 83.3333333333%;
    float: left; }

  .col-fluid-11 {
    width: 91.6666666667%;
    float: left; }

  .col-fluid-12 {
    width: 100%;
    float: left; }

  .row-fluid {
    width: 100%;
    float: left; }

  .row-fluid:before, .row-fluid::after {
    content: "";
    display: table;
    line-height: 0; }

  .row-fluid:after {
    clear: both; } }
.form-wrapper {
  max-width: 630px;
  width: 100%; }

.xsmall_input {
  width: 70px; }

.small_input {
  width: 105px; }

.medium_input {
  width: 175px; }

.large_input {
  width: 280px; }

.xlarge_input {
  width: 350px; }

.xxlarge_input {
  width: 420px; }

.xxxlarge_input {
  width: 490px; }

.full-width_input {
  width: 100%; }

.form-element, .xsmall_input, .small_input, .medium_input, .large_input, .xlarge_input, .xxlarge_input, .xxxlarge_input, .input245, .form-textarea, .numberInputWrapper .form-number, .numberInputWrapper .form-number-value {
  display: inline-block;
  background-color: transparent;
  color: #192033;
  text-align: left;
  padding: 4px 4px;
  line-height: 18px;
  font-size: 16px;
  font-family: "GothamRounded-Medium";
  min-height: 28px;
  height: 28px;
  border: 0px;
  border-bottom: 1px solid #737680;
  height: 28px \9; }
  .form-element:focus, .xsmall_input:focus, .small_input:focus, .medium_input:focus, .large_input:focus, .xlarge_input:focus, .xxlarge_input:focus, .xxxlarge_input:focus, .input245:focus, .form-textarea:focus, .numberInputWrapper .form-number:focus, .numberInputWrapper .form-number-value:focus {
    border-bottom: 1px solid #737680;
    outline: none; }

.error-msg ~ span {
  color: #c91810;
  font-size: 14px;
  margin-top: -15px;
  font-family: "GothamRounded-Medium"; }

input[type="text"][disabled] {
  background: transparent;
  border-color: #737680; }

input[type='text'], .form-element, .xsmall_input, .small_input, .medium_input, .large_input, .xlarge_input, .xxlarge_input, .xxxlarge_input, .input245, .form-textarea, .numberInputWrapper .form-number, .numberInputWrapper .form-number-value {
  height: 28px \9; }

.xsmall_input {
  width: 70px; }

.small_input {
  width: 105px; }

.form-textarea {
  width: 100%;
  height: 84px;
  resize: none; }

.numberInputWrapper {
  display: inline-block;
  float: left;
  position: relative;
  width: auto; }
  .numberInputWrapper .form-number {
    opacity: 0; }
  .numberInputWrapper .form-number-value {
    display: inline-block;
    float: left;
    height: 28px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
    padding-right: 38px;
    text-overflow: ellipsis;
    white-space: pre;
    border: none;
    overflow: hidden; }

/***********input style end*********************/
/***********Select Style *********************/
.small_select {
  width: 70px; }

.medium_select {
  width: 175px; }

.large_select {
  width: 280px; }

.xlarge_select {
  width: 350px; }

.xxlarge_select {
  width: 420px; }

.select-width {
  width: 245px; }

.customSelectInner {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  min-width: 100%; }

.customSelectWrapper {
  float: left;
  position: relative;
  width: auto;
  display: inline-block; }

.custom-select {
  left: 0;
  top: 0;
  height: 28px;
  box-shadow: none;
  outline: none;
  z-index: 1;
  background: Transparent;
  border: 0px;
  border-bottom: 1px solid #737680;
  color: #192033;
  font-family: "GothamRounded-Medium";
  font-size: 16px; }

.custom-select option:disabled {
  display: none; }

.custom-select option {
  padding: 5px;
  font-size: 16px; }

[class^="col-fluid"] [class$="_select"] {
  width: 100%; }

.hasEditButton {
  float: left; }

.customFileWrapper {
  height: 28px;
  overflow: hidden;
  position: relative; }

.customFileWrapper input {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 1; }

.inputFileBtn {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 0;
  color: #777777;
  text-align: left;
  padding: 4px 10px;
  line-height: 18px;
  font-size: 16px;
  border: 1px dashed #777777;
  height: 100%;
  width: 100%;
  background: url("./../images/file.png") no-repeat;
  background-position: 98% center; }

.inputFileWrapper {
  margin-top: 7px; }
  .inputFileWrapper .fileName {
    padding: 5px 10px;
    color: #777777;
    float: left;
    background: #777777;
    max-width: auto;
    margin-top: 7px; }
    .inputFileWrapper .fileName span {
      cursor: pointer;
      word-wrap: break-word; }

.fileName:first-child {
  margin-top: 0; }

.fileName span:last-child {
  float: right; }

.fileName span:first-child {
  margin-left: 0;
  float: left;
  cursor: default; }

.uploadedName {
  padding: 5px 25px 5px 10px;
  color: #ffffff;
  float: left;
  background: #737680;
  max-width: auto;
  margin-top: 7px;
  max-width: 200px;
  word-wrap: break-word;
  word-break: break-all;
  position: relative; }
  .uploadedName span {
    cursor: pointer;
    word-wrap: break-word; }

.uploadedName:first-child {
  margin-top: 0;
  margin-left: 0px;
  margin-right: 10px; }

.uploadedName span:last-child {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%); }

.uploadedName span:first-child {
  margin-left: 0;
  float: left;
  cursor: default;
  min-width: 140px; }

.crosslable {
  padding: 10px 25px 10px 10px;
  font-size: 18px;
  color: #ffffff;
  float: left;
  background: #737680 none repeat scroll 0% 0%;
  border-radius: 5px;
  margin-top: 7px;
  word-wrap: break-word;
  word-break: break-all;
  position: relative;
  width: 200px; }

.crosslable span {
  cursor: pointer;
  word-wrap: break-word;
  line-height: 18px; }

.crosslable span:last-child {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); }

.crosslable span:last-child:hover {
  opacity: .5; }

::-webkit-input-placeholder {
  color: #D9D9D6;
  opacity: 1; }

:-moz-placeholder {
  color: #D9D9D6;
  opacity: 1; }

::-moz-placeholder {
  color: #D9D9D6;
  opacity: 1; }

:-ms-input-placeholder {
  color: #D9D9D6;
  opacity: 1; }

.xxxlarge_input::-webkit-input-placeholder {
  color: #C8C9C7; }

.xxxlarge_input:-moz-placeholder {
  color: #C8C9C7; }

.xxxlarge_input::-moz-placeholder {
  color: #C8C9C7; }

.xxxlarge_input:-ms-input-placeholder {
  color: #C8C9C7; }

.full-width_input::-webkit-input-placeholder {
  color: #21409a; }

.full-width_input:-moz-placeholder {
  color: #21409a; }

.full-width_input::-moz-placeholder {
  color: #21409a; }

.full-width_input:-ms-input-placeholder {
  color: #21409a; }

.full-width_input::-webkit-autofill {
  background-color: #fff !important; }

/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* fieldΓÇöto make sure it scales properly and doesn't wrap.
*/
input:placeholder-shown + label.input-label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left top;
  transform: translate(0, -1.5rem) scale(1); }

textarea:placeholder-shown + label.input-label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left top;
  transform: translate(0, -1.5rem) scale(1); }

/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit; }

::-webkit-textarea-placeholder {
  opacity: 0;
  transition: inherit; }

/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1; }

textarea:focus::-webkit-textarea-placeholder {
  opacity: 1; }

/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label.input-label,
input:focus + label.input-label {
  transform: translate(0, -3rem) scale(1);
  cursor: pointer; }

textarea:not(:placeholder-shown) + label.input-label,
textarea:focus + label.input-label {
  transform: translate(0, -7rem) scale(1);
  cursor: pointer; }

/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/
label, input, textarea {
  transition: all 0.2s;
  touch-action: manipulation; }

label.input-label {
  position: relative;
  z-index: 0; }

input {
  -webkit-appearance: none;
  z-index: 99;
  position: relative; }

input:focus {
  outline: 0;
  border-bottom: 1px solid #666; }

textarea {
  -webkit-appearance: none;
  z-index: 99;
  position: relative; }

textarea:focus {
  outline: 0;
  border-bottom: 1px solid #666; }

label {
  letter-spacing: 0.05em; }

.checkBox[type="checkbox"] {
  display: none; }

.checkBox[type="checkbox"] + label.form-label, .radioButton[type="radio"] + label.form-label {
  display: table;
  position: relative;
  cursor: pointer;
  text-indent: -1px;
  padding-left: 28px; }

.checkBox[type="checkbox"] + label.form-label span, .radioButton[type="radio"] + label.form-label span {
  display: inline-block;
  float: left;
  line-height: 12px;
  margin: 4px 0 2px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
  word-wrap: break-word; }

.checkBox[type="checkbox"] + label.form-label:before {
  width: 18px;
  height: 18px;
  content: '';
  display: block;
  background: #737680;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  float: left;
  position: absolute;
  left: 0; }

.checkBox[type="checkbox"] + label.form-label:hover:before {
  width: 18px;
  height: 18px;
  content: '';
  background: #737680;
  font-size: 16px;
  line-height: 18px;
  text-align: center; }

.checkBox[type="checkbox"]:checked + label.form-label:before {
  font-family: "fontello";
  content: '\e80a';
  background: #737680;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-indent: 1px; }

.radioDiv {
  display: inline-block;
  float: left;
  height: 28px;
  padding: 5px 0;
  width: auto;
  min-width: 105px; }

.radioButton[type="radio"] {
  display: none; }

.radioButton[type="radio"] + label.form-label:before {
  width: 18px;
  height: 18px;
  content: '';
  display: inline-block;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/radioButton1.png");
  background-size: cover; }

.radioButton[type="radio"] + label.form-label:hover:before {
  background-image: url("../images/radioButton-fill.png"); }

.radioButton[type="radio"]:checked + label.form-label:before {
  background-image: url("../images/radioButton-fill.png"); }

.rating {
  display: inline-block;
  float: left;
  margin: 0;
  padding: 5px 0;
  position: relative; }

.custom-rating[type="radio"] {
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 18px;
  cursor: pointer; }

.custom-rating {
  display: block;
  float: right;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  background: url("../images/star2.png"); }

.custom-rating:first-child {
  margin-right: 0; }

.custom-rating:hover, .custom-rating:hover ~ .custom-rating, .custom-rating:checked ~ .custom-rating, .custom-rating.selected ~ .custom-rating {
  background: url("../images/star1.png"); }

.custom-rating.selected {
  background: url("../images/star1.png"); }

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0; }

.modal-open {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: absolute;
  top: 10%;
  left: 35%;
  width: 280px;
  margin: 10px auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

@media screen and (min-width: 630px) {
  .modal-dialog {
    width: 490px; } }
.modal-content {
  position: relative;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  overflow: hidden; }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0; }

.modal-backdrop.in {
  filter: alpha(opacity=80);
  opacity: .8; }

.fade.signup_popup.in {
  opacity: 1; }

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear; }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0, -2%);
  -ms-transform: translate(0, -2%);
  -o-transform: translate(0, -2%);
  transform: translate(0, -2%); }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-header {
  background: #737680;
  display: inline-block;
  color: #ffffff;
  padding-top: 22px;
  padding-bottom: 22px;
  line-height: 24px;
  width: 100%;
  float: left;
  display: inline-block; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  text-align: left; }

.modal-body {
  position: relative;
  padding-top: 15px;
  background: #ffffff;
  width: 100%;
  float: left;
  display: inline-block; }

.modal-body-content {
  padding-bottom: 30px; }

.modal-body .labelDiv {
  margin-top: 5px; }

.modal-footer {
  padding-top: 21px;
  padding-bottom: 21px;
  padding-top: 21px;
  padding-bottom: 21px;
  background: #d1d2d7;
  width: 100%;
  float: left;
  display: inline-block; }

@media (min-width: 630px) {
  .modal-sm {
    width: 300px; }

  .modal-mid {
    width: 500px; } }
html, body, .wrapper, .col-fluid-3, .right-block, .login-wrapper {
  height: 100%; }
  @media (max-width: 767px) {
    html, body, .wrapper, .col-fluid-3, .right-block, .login-wrapper {
      height: auto; } }
  @media (min-width: 767px) and (max-width: 991px) {
    html, body, .wrapper, .col-fluid-3, .right-block, .login-wrapper {
      height: auto; } }

.auth-d-left {
  background: #21409a;
  height: 100%;
  padding: 50px; }
  .auth-d-left img {
    max-width: 100%; }

.right-block {
  padding: 60px; }
  .right-block .heading-block {
    padding-bottom: 50px; }
    .right-block .heading-block h2 {
      font-size: 36px; }
    .right-block .heading-block span {
      font-size: 18px;
      color: #737680; }
  .right-block .bottom-image {
    position: absolute;
    right: 0;
    bottom: 0; }
    @media (max-width: 767px) {
      .right-block .bottom-image {
        display: none; } }
  @media (max-width: 767px) {
    .right-block {
      padding: 20px; } }

.form-group {
  display: inline-block;
  text-align: left;
  width: 100%;
  position: relative; }
  .form-group label {
    color: #c2c4cc; }
  .form-group input {
    border-color: #737680;
    color: #21409a; }

.fa-eye {
  content: "";
  background: url("./../images/eye.png") no-repeat;
  position: absolute;
  right: 5px;
  top: 4px;
  float: right;
  width: 26px;
  height: 16px;
  z-index: 999; }

.fa-eye-slash {
  content: "";
  background: url("./../images/eye-slash.png") no-repeat;
  position: absolute;
  right: 5px;
  top: 4px;
  float: right;
  width: 26px;
  height: 16px;
  z-index: 999; }

.f-password {
  color: #ed207a; }

.login-btn {
  padding-top: 45px; }
  .login-btn button {
    padding: 15px;
    width: 420px; }
    @media (max-width: 767px) {
      .login-btn button {
        width: 100%; } }
  .login-btn span {
    width: 100%;
    text-align: center;
    color: #737680; }
    .login-btn span a {
      text-decoration: none;
      color: #ed207a; }

.box-flow {
  display: table;
  margin-bottom: 15px;
  width: 100%; }

h1 {
  color: #76236D;
  margin-bottom: 15px; }

.box {
  width: 200px;
  height: 200px;
  border: 1px solid #eee;
  float: left;
  margin-right: 10px;
  background: #ccc; }

.xsmall-radius {
  border-radius: 2px; }

.small-radius {
  border-radius: 5px; }

.xlarge-radius {
  border-radius: 8px; }

.large-radius {
  border-radius: 10px; }

.show-grid {
  margin-bottom: 15px;
  display: table;
  width: 100%; }

.show-grid [class^="col-fluid-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, 0.2);
  text-align: center;
  box-sizing: border-box; }

.color-box {
  width: calc(100% / 5); }

.padding-classes h3 {
  font-size: 24px;
  color: #ffffff;
  background: #A8353A; }
.padding-classes p {
  font-size: 18px; }

.raw-classes h3 {
  font-size: 24px;
  color: #ffffff;
  background: #A8353A; }
.raw-classes p {
  font-size: 18px;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
