@import 'colour-palette';

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}


.btn{
	  display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 6px 12px;
    text-align: center;
  	white-space: nowrap;
  	vertical-align: middle;
  	cursor:pointer;
    border-radius:4px;
    @extend .mr15;

}

/*=======BTN DEFAULT==========*/
  
 .btn-default {
  color: #ed207a;
  background-color:transparent;
  border-radius:50px;
  border: 1px solid #ed207a;
}

/*=======BTN primary==========*/
  
 .btn-primary {
  color: #fff;
  background-color:#ed207a;
  border-radius:50px;
   border: 1px solid #ed207a;
}

 .btn-primary {

&:focus {
  color: #ed207a;
  background-color: transparent;
   border: 1px solid #ed207a;
}

&:hover {
  color: #ed207a;
  background-color: transparent;
  border: 1px solid #ed207a;
}	

 }




/*=======BTN Success==========*/
  
 .btn-success {
  color: #fff;
  background-color:#5cb85c;
  border-color: #ccc;
  border-radius:50px;
}

 .btn-success {

&:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #8c8c8c;
}

&:hover {
  color: #fff;
  background-color:#449d44;
} 

 }

 /*=======BTN Warning==========*/
  
 .btn-warning {
  color: #fff;
  background-color:#f0ad4e;
  border-color: #ccc;
  border-radius:50px;
}

 .btn-warning {

&:focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #8c8c8c;
}

&:hover {
  color: #fff;
  background-color:#ec971f;
} 

 } 

 /*=======BTN Danger==========*/
  
 .btn-danger {
  color: #fff;
  background-color:#d9534f;
  border-color: #ccc;
  border-radius:50px;
}

 .btn-danger {

&:focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #8c8c8c;
}

&:hover {
  color: #fff;
  background-color:#c9302c;
} 

 }






