
//Primary Colors

$blue : #21409a;
$magenta : #ed207a;
$dark-blue : #192033;

.blue {background-color:$blue;}
.magenta {background-color:$magenta;}
.dark-blue {background-color:$dark-blue;}


//Secondory Colors

$dark-grey : #737680;
$light-grey : #c2c4cc;
$lighter-grey : #eaecf0;

.dark-grey {background-color:$dark-grey;}
.light-grey {background-color:$light-grey;}
.lighter-grey{background-color:$lighter-grey;}

//Social logo Colors

$facebook-color: #3b5998;
$twitter-color: #00aced;
$instagram-color: #C32AA3;
$pinterest-color: #BD081C; 
$linkedin-color: #007bb6;
$youtube-color: #FF0000;
$google-plus-color: #DB4437;
$snapchat-color: #FFFC00;
$whatsapp-color: #25D366;
$skype-color: #00AFF0;
$yahoo-color: #430297;

.facebook-color{background-color:$facebook-color;}
.twitter-color{background-color:$twitter-color;}
.instagram-color{background-color:$instagram-color;}
.pinterest-color{background-color:$pinterest-color;}
.linkedin-color{background-color:$linkedin-color;}
.youtube-color{background-color:$youtube-color;}
.google-plus-color{background-color:$google-plus-color;}
.snapchat-color{background-color:$snapchat-color;}
.whatsapp-color{background-color:$whatsapp-color;}
.skype-color{background-color:$skype-color;}
.yahoo-color{background-color:$yahoo-color;}

// Stakeholder Palette
$group 			: #415464 ;
$mangers 		: #FF8400 ;
$green		    : #8B8D4A ;
$delegates      : #00609C ;
$clients		: #76236D ;
$resources 		: #A8353A ;
$white 		    : #ffffff ;
$grey			: #777777 ;	
$error			: #c91810;	

.group_color{ background-color : $group ; }
.managers_color{ background-color : $mangers ; }
.supplier_color{ background-color : $green ; }
.client_color{ background-color : $clients; }
.resource_color{ background-color : $resources ; }
.delegates_color{ background-color : $delegates ; }
.white_color{ background-color : $white ; }
.grey_color{ background-color : $grey ; }
.error{ background-color : $error ; }