// variable for font size start 

$xxxlarge: 48px;
$xxlarge: 42px;
$xlarge: 36px;
$large: 24px;
$mediumValue:18px;
$small: 16px;
$xsmall: 14px;

/***********font size classes*********************/

.font-xxxlarge 	{ font-size : $xxxlarge; }
.font-xxlarge 	{ font-size : $xxlarge; }
.font-xlarge 	{ font-size : $xlarge; }
.font-large 	{ font-size : $large  }
.font-medium 	{ font-size : $mediumValue; }
.font-small		{ font-size : $small; }
.font-xsmall 	{ font-size : $xsmall; }