//
// Input groups
// --------------------------------------------------

$xsmall_input  : 70px;
$small_input   : 105px;
$medium_input  : 175px;
$large_input   : 280px;
$xlarge_input  : 350px;
$xxlarge_input : 420px;
$xxxlarge_input: 490px;
$select-width  : 245px;
$full-width_input : 100%;

.xsmall_input  {width:$xsmall_input;}
.small_input  {width:$small_input;}
.medium_input {width:$medium_input;}
.large_input  {width:$large_input;}
.xlarge_input {width:$xlarge_input;}
.xxlarge_input {width:$xxlarge_input;}
.xxxlarge_input {width:$xxxlarge_input;}
.full-width_input {width: $full-width_input;}

.form-element {
	display: inline-block;
	background-color: transparent;
	color: $dark-blue ;
	text-align:left;
	padding:4px 4px;
	line-height:$mediumValue;
	font-size:$small;
	font-family:$f-f-Gotham-M;
	min-height: 28px;
		height: 28px;
	border:0px;	
	border-bottom:1px solid $dark-grey;
	height:28px \9;


	&:focus {
		border-bottom:1px solid $dark-grey;
		outline:none;
	}

}
.error-msg ~ span{
		color: $error;
		font-size:$xsmall;
		margin-top: -15px;
		font-family:$f-f-Gotham-M;  
}

input[type="text"][disabled] {background:transparent;border-color:$dark-grey;}
input[type='text'], .form-element{height:28px \9;}
.xsmall_input{
	@extend .form-element ;	
	width : $xsmall_input ;
}
.small_input{
	@extend .form-element ;	
	width : $small_input ;
}
.medium_input{
	@extend .form-element;
}
.large_input{
	@extend .form-element;
}
.xlarge_input{
	@extend .form-element;
}
.xxlarge_input{
	@extend .form-element ;
}
.xxxlarge_input{
	@extend .form-element ;
}
.input245 {
	@extend .form-element ;
}
.form-textarea{
	@extend .form-element;
	width:100% ;
	height:84px;
	resize:none;
}
.numberInputWrapper {
    display: inline-block;
    float: left;
    position: relative;
    width: auto;	
    .form-number {
        @extend .form-element;
        opacity: 0;
    }
    .form-number-value {
        @extend .form-element;
        display: inline-block;
        float: left;
        height: 28px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;		
		padding-right: 38px;
		text-overflow: ellipsis;
    	white-space: pre;
		border:none;
		overflow:hidden;
    }
}

/***********input style end*********************/

/***********Select Style *********************/
.small_select{	
	width: 70px ;
}
.medium_select{
	width: 175px ;
}
.large_select{
	width: 280px ;
}
.xlarge_select{
	width: 350px ;
}
.xxlarge_select{
	width: 420px ;
}

.select-width{
	width: $select-width ;
}

.customSelectInner {	
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	max-width: 100%;
    min-width: 100%;
}

.customSelectWrapper {float: left;position:relative;width: auto;display: inline-block;}
.custom-select{left:0;top:0;height:28px;box-shadow:none;outline:none;z-index: 1; background:Transparent; border:0px; border-bottom :1px solid $dark-grey;  color:$dark-blue; font-family:$f-f-Gotham-M; font-size:$small;}
.custom-select option:disabled {display: none;}
.custom-select option {
    padding: 5px;
	font-size:$small;

}
[class^="col-fluid"] [class$="_select"] {width:100%;}
.hasEditButton{float:left;}

.customFileWrapper{ height: 28px;overflow: hidden;position: relative;}
.customFileWrapper input{opacity: 0;cursor:pointer;position: absolute;top: 0;z-index: 1}
.inputFileBtn {
left: 0;
position: absolute;
top: 0;
z-index: 0;
color:$grey;
text-align:left; 
padding:4px 10px;
line-height:$mediumValue;
font-size:$small;
border:1px dashed $grey;
height:100%;
width:100%;
background:url("./../images/file.png")no-repeat;
background-position: 98% center;}

.inputFileWrapper{
margin-top:7px;
	.fileName{
	padding:5px 10px;
	@extend .font-small;
	color:$grey;
	float:left;
	background:$grey;
	max-width:auto;margin-top:7px;
	span{cursor:pointer;@extend .ml5;word-wrap: break-word}
	}	
}

.fileName:first-child{margin-top:0;}
.fileName span:last-child{float:right;}
.fileName span:first-child{margin-left:0; float: left;cursor: default;}
.uploadedName{padding:5px 25px 5px 10px; @extend .font-small;color:$white;float:left;background:$dark-grey; max-width:auto;margin-top:7px;max-width:200px;word-wrap: break-word;word-break: break-all;position:relative;
		span{cursor:pointer;word-wrap: break-word}
	}	
.uploadedName:first-child{margin-top:0;margin-left:0px;margin-right:10px}
.uploadedName span:last-child{position: absolute;
right: 5px;
top: 50%;
transform: translateY(-50%);}
.uploadedName span:first-child{margin-left:0; float: left;cursor: default;min-width:140px}


.crosslable {padding:10px 25px 10px 10px;font-size:$mediumValue; color:$white;float: left;background: $dark-grey none repeat scroll 0% 0%;border-radius: 5px;margin-top: 7px;word-wrap: break-word;word-break: break-all;position: relative;width:200px;}
.crosslable span {cursor: pointer;word-wrap: break-word; line-height:18px;}
.crosslable span:last-child {position: absolute;right:10px;top: 50%;transform: translateY(-50%);}
.crosslable span:last-child:hover {opacity:.5;}

::-webkit-input-placeholder {color: #D9D9D6;opacity:1;}
:-moz-placeholder {color: #D9D9D6;opacity:1;}
::-moz-placeholder {color: #D9D9D6;opacity:1;}
:-ms-input-placeholder {color: #D9D9D6;opacity:1;}

.xxxlarge_input::-webkit-input-placeholder {color: #C8C9C7;}
.xxxlarge_input:-moz-placeholder {color: #C8C9C7;}
.xxxlarge_input::-moz-placeholder {color: #C8C9C7;}
.xxxlarge_input:-ms-input-placeholder {color: #C8C9C7;}

.full-width_input::-webkit-input-placeholder {color: #21409a;}
.full-width_input:-moz-placeholder {color: #21409a;}
.full-width_input::-moz-placeholder {color: #21409a;}
.full-width_input:-ms-input-placeholder {color: #21409a;}

.full-width_input::-webkit-autofill {background-color: #fff !important;}


/**
* Translate down and scale the label up to cover the placeholder,
* when following an input (with placeholder-shown support).
* Also make sure the label is only on one row, at max 2/3rds of the
* field—to make sure it scales properly and doesn't wrap.
*/

input:placeholder-shown + label.input-label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left top;
  transform: translate(0, -1.5rem) scale(1);
}

textarea:placeholder-shown + label.input-label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left top;
  transform: translate(0, -1.5rem) scale(1);
}

/**
* By default, the placeholder should be transparent. Also, it should 
* inherit the transition.
*/

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

::-webkit-textarea-placeholder {
  opacity: 0;
  transition: inherit;
}

/**
* Show the placeholder when the input is focused.
*/
input:focus::-webkit-input-placeholder {
  opacity: 1;
}

textarea:focus::-webkit-textarea-placeholder {
  opacity: 1;
}

/**
* When the element is focused, remove the label transform.
* Also, do this when the placeholder is _not_ shown, i.e. when 
* there's something in the input at all.
*/
input:not(:placeholder-shown) + label.input-label,
input:focus + label.input-label {
  transform: translate(0, -3rem) scale(1);
  cursor: pointer;

}

textarea:not(:placeholder-shown) + label.input-label,
textarea:focus + label.input-label {
  transform: translate(0, -7rem) scale(1);
  cursor: pointer;

}

/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the 
* pesky delay.
*/
label, input, textarea {
  transition: all 0.2s;
  touch-action: manipulation;
}

label.input-label{
	position:relative;
	z-index:0;
}

input {
  -webkit-appearance: none;
  z-index: 99;
  position: relative;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

textarea {
  -webkit-appearance: none;
  z-index: 99;
  position: relative;
}

textarea:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

label {
 letter-spacing: 0.05em;
}