$float-left : left;
$float-right : right;

.pull-left{float:$float-left;}
.pull-right{float:$float-right;}

$text-left: left;
$text-right: right;
$text-center: center;

.text-left{text-align:$text-left;}
.text-right{text-align:$text-right;}
.text-center{text-align:$text-center;}
.display-center{display:table; @extend .m-0-auto;}
.flex-center{display: flex; flex-direction: column;}
.block-center-flex{ display: flex;align-items: center;justify-content: center;flex-direction: column;}

