html,body,.wrapper,.col-fluid-3,.right-block,.login-wrapper {
	height: 100%;
	@include breakpoint(mobileonly){
		height:auto;
	}
	@include breakpoint(tablet) {
		height: auto;
	}
}

.auth-d-left{
	background: $blue;
	height:100%;
	padding: $pb50;

	img {
		max-width: 100%;
	}
}

.right-block {
	padding: $pr60;
	.heading-block {
		padding-bottom: $pb50;
		h2 {
			font-size: $xlarge;
		}
		span {
			font-size: $mediumValue;
			color: $dark-grey;
		}
	}

	.bottom-image {
		position: absolute;
		right: 0;
		bottom: 0;
		@include breakpoint(mobileonly){
			display: none;
		}
	}
	@include breakpoint(mobileonly){
		padding: $pr20;
	}
}


.form-group{
	display: inline-block;
	text-align: $text-left;
	width: 100%;
	position: relative;

	label {
		color: $light-grey;
	}

	input {
		border-color: $dark-grey;
		color: $blue;
	}
}

.fa-eye {
	content: "";
	background: url("./../images/eye.png")no-repeat;
	position: absolute;
	right: $pl5;
	top: 4px;
	float: $float-right;
	width: 26px;
	height: 16px;
	z-index: 999;
}

.fa-eye-slash {
	content: "";
	background: url("./../images/eye-slash.png")no-repeat;
	position: absolute;
	right: $pl5;
	top: 4px;
	float: $float-right;
	width: 26px;
	height: 16px;
	z-index: 999;
}

.f-password {
	color: $magenta;
}

.login-btn {
	padding-top: $pt45;
	button {
		padding: $pt15;
		width: $xxlarge_input;
		@include breakpoint(mobileonly){
		width:100%;
		}
	}
	span {
		width: 100%;
		text-align: $text-center;
		color: $dark-grey;

		a {
			text-decoration: none;
			color: $magenta;
		}
	}
}